:root {
  --primary-color: #ec1f55;
  --text-color: #333;
  --primary-color-lighter:#ebb7c5;
  --chillColor:#white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  padding: 16px 16px 14px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  border-bottom: 1px solid #ebebeb;
  box-shadow: 0 0 2px 0px #fff;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
  display: flex;
}

.VolumeControl {
  order: 1;
  cursor: pointer;
}
.chill-mode {
  order: 3;
}
.chill-mode:hover{
  cursor:pointer;
  opacity: 0.7;
}

.VolumeControl .volume{
  font-size:26px;
}

/* volumeControl */
.volume-wrapper {
  position:absolute;
  top:100%;
  background-color: var(--primary-color);
  border-radius: 20px;
  left:6px;
  display: none;
  animation: hidden 0.3s ease-in-out;
}

@keyframes hidden {
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}


.VolumeControl .vl-on{
    display:flex;

}

.VolumeControl #progress-v{
  /* -webkit-appearance: none !important; */
    margin:auto;
    height:10px;
    width:100px;
    margin:12px 12px;
  cursor: pointer;
  outline: none;

}

.VolumeControl #progress-v::-webkit-slider-thumb{
  /* -webkit-appearance: none !important; */
  background:#72007c;
}


.VolumeControl,
.chill-mode {
  position: relative;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: var(--primary-color);
}

.icon-on{
  display:none;
}
.chill-mode{
  font-size: 32px;
}
.chill-mode.on-mode .icon-on{
  display:block;
}
.chill-mode.on-mode .icon-off{
  display:none;
}
.titleSong {
  flex: 1;
  order: 3;
  user-select: none;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
}

header h2 {
  color: var(--text-color);
  font-size: 20px;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
}

.control .btn {
  color: #666;
  padding: 18px;
  font-size: 18px;
  cursor: pointer;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.progress {
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  height: 8px;
  border-radius: 15px;

}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 8px;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius:15px;
}

/* PLAYLIST */
.playlist {
  margin-top: 408px;
  padding: 12px;
  background-color:#fff;
}

.song:first-child{
  margin-top:20px;
} 

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: rgb(255, 243, 254);
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 0px 3px rgb(0 0 0 / 12%);
  cursor:pointer;

 
}

.song.active {
  background-color: var(--primary-color-lighter);
  border-bottom:4px solid var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
  border:2px solid white;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}

  .lightBackground{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  position: relative;
  width:220px;
  height:220px;
  border-radius: 50%;
  background-color:var(--primary-color);
}

 .cd{
  position:absolute;
  z-index: 999;
}



/* CHILL MODE */

.chillMode .playlist{
  background-color:rgb(31, 6, 53);
}


.chillMode .dashboard{
  background-color:rgb(31, 8, 58);
  box-shadow: 0 0 12px -10px rgb(68, 6, 70);
  border-bottom: none;

}
.chillMode .lightBackground{
  background:linear-gradient(45deg,rgb(174, 0, 255) 20%,rgb(255, 41, 226),rgb(95, 191, 255));
}
.chillMode .lightBackground::before{
  content:"";
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  border-radius: 50%;
  background:linear-gradient(45deg,rgb(174, 0, 255) 20%,rgb(234, 255, 116),rgb(95, 191, 255));
  filter:blur(30px);
  z-index: 1;
}

.chillMode .titleSong h4 {
  color:rgb(206, 94, 250);
}
.chillMode .titleSong h2 {
  color:white;
}

.chillMode .VolumeControl,
.chillMode .chill-mode
 {
  color:white;
}

.chillMode .btn{
  color:white;
}

.chillMode .progress{
  background-color:rgb(177, 119, 182);
}
.chillMode .progress::-webkit-slider-thumb {
  background-color:rgb(120, 13, 139);
}

.chillMode .song{
  background-color:#72007c;

}
.chillMode .song .option,
.chillMode .song .author,
.chillMode .song .title {
  color: #fff;
}
.chillMode .song.active {
  background-color:#ec60ff;
  border-bottom:4px solid transparent;
  border-image: linear-gradient(to right,rgb(75, 219, 255),rgb(146, 60, 243),rgb(170, 57, 170), #6f00ff,rgb(96, 240, 96), #ff009d);
  border-image-slice: 1;

}
.chillMode .btn-toggle-play{
  background-color:#73007e;
}

/* notification */

.chill-mode.noti::after{
  content: "Chill Mode";
  position: absolute;
  background-color: rgb(215, 129, 255);
  width: 90px;
  font-size: 14px;
  top: 48px;
  left: -45px;
  color: white;
  border-radius: 15px;
  line-height: 27px;
  animation: growth 0.6s ease-in-out;
  transform-origin: 80% top;
}

.chill-mode.noti::before{
  content: "";
  position: absolute;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid rgb(215, 129, 255);
  top: 83%;
  left: 25%;
  transition: all 0.2s ease-in-out;
  animation: growth 0.3s ease-in-out;
  transform-origin: 80% top;
}

.chillMode .volume-wrapper{
  background-color:#fad7ff;
}

@keyframes growth {
  from{
      transform: scale(0);
      opacity: 0.4;
  }to{
      transform:scale(1);
      opacity: 1;
  }
}